$background-color: #1d1d1d;
$primary-color: #224568;
$primary-color-hover: #1a3752;
$secondary-color: #002139;
$color-accent: #ffffff;
$text-color: #fff;
$input-color: #333;
$input-border-color: #fff;
$foreground-color: #fff;
